@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,700');
@import url('https://fonts.googleapis.com/css?family=Passion+One:900');

html body {
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

#navContain {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

nav {
    background-color: #EEEEEE;
    box-shadow: 0 0 3px 1px #999999;
    width: 100%;
    height: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a p {
    padding: 0.9375em 1.25em; /*15px 20px*/
    margin: 0;
    border-top: rgba(0, 0, 0, 0) 4px solid;
    border-bottom: rgba(0, 0, 0, 0) 4px solid;
    color: #555555;
    transition: color 0.1s linear, border 0.1s linear;
}

nav ul li a p#info-link:hover {
    border-top: #36a745 4px solid;
    color: #36a745;
}

nav ul li a p#skill-link:hover {
    border-top: #d38a2a 4px solid;
    color: #d38a2a;
}

nav ul li a p#social-link:hover {
    border-top: #d32551 4px solid;
    color: #d32551;
}

.welcomePage {
    width: 100%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0.3);
}

.welcomePage p {
    color: #ffffff;
    text-align: center;
    padding: 40vh;
    font-size: 5em;
    box-sizing: border-box;
    animation: slideup 0.75s ease-out;
}

@keyframes slideup {
    from {padding: 45vh; opacity: 0;}
    to {padding: 40vh; opacity: 1;}
}

.boxHolder {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); 
    padding-bottom: 2em;
}

.informationBox {
    margin: 0 auto;
    background-color: #eeeeee;
    width: 50em; /*800px*/
    height: auto;
    padding: 1em 2em;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(100, 100, 100, 0.5);
}

.profile-box {
    width: 150px;
    position: relative;
    margin-top: 1em;
    float: right;
}

#profile {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 5px 1px rgba(100, 100, 100, 0.5);
}

.categ-box {
    padding-bottom: 3em;
    border-bottom: #bbbbbb 1px solid;
}

#basic-info h1, .info-type > h4 {
    color: #36a745;
}

h1 {
    padding: 1em 0;
    margin: 0;
}

h1 img {
    width: 50px;
    margin-left: 0.5em;
    vertical-align: middle;
}

.info-contain {
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.info-contain div {
    display: inline-block;
}

.info-type {
    width: 200px;
    border-right: #bbbbbb 1px solid;
}

.info-type h4 {
    font-weight: 700;
    margin: 1em 0;
}

.information {
    margin: 0 0 0 3em;
    color: #555555;
}

#skills-info h1, #left, #right {
    color: #d38a2a;
}

.skills-contain {
    width: 100%;
    text-align: center;
    height: auto;
}

.skills-contain div {
    display: inline-block;
}

.skill-box {
    width: 185px;
    margin: 0 2vw;
}

.skill-box img {
    max-width: 80%;
}

.skill-box p {
    margin: 0;
    color: #333333;
}

.statement-box {
    margin: 3em 0 0;
}

.quote {
    font-family: 'Passion One', cursive;
    font-weight: 900;
    font-size: 5em;
    margin: 0;
}

#left {
    text-align: left;
    margin-top: 1em;
}

#right {
    text-align: right;
}

#main-quote {
    width: 500px;
    margin-top: 0;
    color: #333333;
    line-height: 3em;
    font-size: 1em;
}

#social-info h1 {
    color: #d32551;
}

#social-info p {
    text-align: center;
    color: #555555;
}

.logo-box {
    text-align: center;
    margin: 2em 0;
}

.logo-box div{
    display: inline-block;
    margin: 0 auto;
}

.platform {
    width: 100px;
    padding: 2em;
}

.platform a {
    text-decoration: none;
}

.platform a h4 {
    text-align: center;
    margin: 1em 0 0;
    color: #d32551;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}
.platform a:hover h4{
    opacity: 1;
}

.platform a img {
    width: 100%;
    transition: transform 0.1s linear;
}

.platform a:hover img {
    transform: scale(1.1);
}


